<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banque Populaire</title>
</head>
<body>
 

        <app-navbar></app-navbar>

    <section class="hero">
        <div class="text">
            <h1>En ligne ou en agence, nous vous accompagnons !</h1>
            <p>Procédez maintenant à l'ouverture de votre compte 100% en ligne à travers l'application PocketBank.</p>
            <button>Ouverture 100% en ligne</button>
        </div>
        <img src="assets/img/téléchargement.jpg" alt="" data-aos="fade-in">
    </section>
    <app-client-form></app-client-form>
</body>
</html>

<app-faq></app-faq>
<app-contact></app-contact>
<app-footer></app-footer>
