<app-navbar></app-navbar>
<div class="login-container">
  <!-- Image à gauche -->
  <<div class="left-image">
    <img
      src="assets/img/login-image.jpg"
      srcset="assets/img/login-image.jpg 1x, assets/img/login-image@2x.jpg 2x"
      alt="Image de connexion"
      data-aos="fade-in"
    />
  </div>

  <!-- Formulaire à droite -->
  <div class="right-form">
    <div class="form-box">
      <h2>Se Connecter</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="textbox">
          <input
            type="text"
            id="username"
            [(ngModel)]="credentials.username"
            name="username"
            placeholder="Nom d'utilisateur"
            required
          />
        </div>
        <div class="textbox">
          <input
            type="password"
            id="password"
            [(ngModel)]="credentials.password"
            name="password"
            placeholder="Mot de passe"
            required
          />
        </div>
        <button type="submit" class="btn">Se connecter</button>
        <div class="forgot-password">
          <a href="#">Mot de passe oublié ?</a>
        </div>
        <div class="signup">
          <p>Pas de compte ? <a routerLink="/register">Créer un compte</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
